* {
  margin: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 10vmin;
}

nav {
  text-align: center;
  width: 40vw;
  margin: auto;
}

h2 {
margin: 10px auto;
text-align: center;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding: 10px;
  border: 1px solid black;
  border-bottom: 3px solid black;
  margin: 0;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#new-flight-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#show-page {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin: auto;
  justify-content: center;
}

#show-page > div {
  width: 45%;
  border: 1px solid black;
  padding: 1vmin;
  text-align: center;
}

#add-destination-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.destination-table {
  margin-top: 10vmin;
}