* {
  margin: 0px;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #a3d6e2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: scroll;
}

h2 {
margin: 10px auto;
text-align: center;
}

a {
  color: #5b8fba;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

nav > a {
  color: rgb(3, 109, 230);
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding: 10px;
  border: 1px solid black;
  border-bottom: 3px solid black;
  margin: 0;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#new-flight-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#show-page {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin: auto;
  justify-content: center;
}

#show-page > div {
  width: 45%;
  border: 1px solid black;
  padding: 1vmin;
  text-align: center;
}

#add-destination-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.destination-table {
  margin-top: 5vmin;
}

.ticket-form {
  display: flex;
  flex-direction: column;
}

.new-ticket-btn {
  display: flex;
  justify-content: center;
}

.new-ticket {
  text-align: center;
  text-decoration: underline;
  margin: 3vmin auto;
}

#add-ticket-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2vmin auto;
}

.ticket-container {
  display: flex;
  margin: 0px;
  justify-content: center;
}

.ticket-list {
 list-style: none; 
 margin: 0px;
}